/* h1 {
    
} */

/* nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

/* 
    yellow: #FEFCE5
    Dark Blue: #0C3354
    Grey (background): #F8F9F9 */

    @import url(//db.onlinewebfonts.com/c/1a204cd3ccb7f25e06faa548e6251a59?family=Fabriga);
    @import url(//db.onlinewebfonts.com/c/582590ffcc918623fde3bf6c123d36ba?family=Fabriga);

    @font-face {font-family: "Fabriga"; src: url("//db.onlinewebfonts.com/t/1a204cd3ccb7f25e06faa548e6251a59.eot"); 
        src: url("//db.onlinewebfonts.com/t/1a204cd3ccb7f25e06faa548e6251a59.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/1a204cd3ccb7f25e06faa548e6251a59.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/1a204cd3ccb7f25e06faa548e6251a59.woff") format("woff"), url("//db.onlinewebfonts.com/t/1a204cd3ccb7f25e06faa548e6251a59.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/1a204cd3ccb7f25e06faa548e6251a59.svg#Fabriga") format("svg"); }

     @font-face {font-family: "Fabriga-bold"; src: url("//db.onlinewebfonts.com/t/582590ffcc918623fde3bf6c123d36ba.eot"); src: url("//db.onlinewebfonts.com/t/582590ffcc918623fde3bf6c123d36ba.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/582590ffcc918623fde3bf6c123d36ba.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/582590ffcc918623fde3bf6c123d36ba.woff") format("woff"), url("//db.onlinewebfonts.com/t/582590ffcc918623fde3bf6c123d36ba.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/582590ffcc918623fde3bf6c123d36ba.svg#Fabriga") format("svg"); }

 p, li {
    color: #0C3354;
    /* font-family: 'Fabriga', 'Times New Roman', Times, serif; */
}

h1, h2, h3, h4, h5, h6 {
    color: #0C3354;
    font-family: 'Fabriga-bold';
    font-style: none;
    /* font-weight: 300; */
}

h2 {
    font-size: 8px;
}

body {
    background-color: green;
}

.border {
    border: none;
}

.main-nav {
    display: none;
}

.all-nav {
    display: none;
}

.logo {
    /* width: 20%;
    height: 70%; */
    width: 120px;
    height: 40px;
}

.mobile-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: #0C3354 1px solid;
}

.mobile-nav div {
    display: flex;
    justify-content: flex-end;
}

.not-mobile {
    display: none;
}

/* .border {
    border: solid 1px black;
} */

.mobile-nav-button {
    width: 10%;
    height: 30%;
}

@media (min-width: 768px) {
    .main-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 50px;
      /* border:1px black solid; */
    }

    .menu-1-button {
        background: #EBFDFB;
        border-bottom: #0C3354 solid 3px;
    }


    .menu-2-button:hover {
        background: #EBFDFB;
        border-bottom: #0C3354 solid 3px;
    }

    /* body {
        background-color: green;
    } */

    .not-mobile{
        display: block;
    }

    .main-nav li{
        padding: 10px 20px;
        list-style: none;
    }

    .all-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        border: 1px #0C3354 solid;
    }
    .logo {
        width: 120px;
        height: 40px;
    }

    .nav-items {
        margin-top:15px;
    }

    .corner-nav{
    /* padding: 0px 20px; */
        margin: 0;
    }

    .corner-nav img{
        height:60%;
        margin: 0;
        /* padding: 0px 20px; */
    }

    /* .main-banner img{
        margin-left:-20px;
        width: 100vw;
        height: 80px;
    } */

   

    #banner-close:hover {
        cursor: pointer;
    }

    .main-banner-custom {
        display: flex;
        height: 70px;
        align-items: center;
        justify-content: space-evenly;
        background-color: #FEFCE5;
    }
    
    .main-banner-custom img {
        /* height: 40%;
        width: 3%; */
        height: 30px;
        width: 40px;
    }
    
    .main-banner-custom a {
        font-style: underline;
        text-decoration: none;
    }
    
    .main-banner-custom h5 {
        padding-top: 15px;
    }
    
    .main-banner-custom h5, p {
        font-size: 0.9em;
    }
    
    .main-banner-custom button {
        height: 30px;
        width: 90%;
        font-size: 11px;
        margin: 0px 10px;
        padding: 5px 20px;
    }
    
    .banner-main-content {
        display: flex;
        width: 70%;
        align-items: center;
        justify-content: space-around;
        /* border: 1px solid black; */
    }
    
    .banner-buttons {
        display: flex;
        width: 40%;
    }

    .mobile-nav {
        display: none;
    }
    
    /* .row div {
        height: 50px;
        border: 1px solid black;
      } */
  }


  

 /* .main-body {
    display: none;
}

.main-body-new {
    display: none;
}  */

.your-team-full {
    margin-right: 10px;
}

.your-team {
    background-color: white;
}

.your-team-quicklinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    margin-left: -30px;
}


.your-team img {
    /* padding-left:5px; */
    /* margin-left:30px;
    margin-right:-35px; */
    
    width: 25px;
    height: 25px;
}

.your-team p {
    margin-top:8px;
}

.mobile-only {
    display: none;
}


.main-body {
      display:flex;
      /* justify-content: space-around;
      align-items: center; */
}

.main-body-new {
        display: block;
        /* margin-top: 20px; */
        padding-top: 20px;
        background-color: #F8F9F9;
}

.schedule {
        /* width: 90%; */
        max-width: 800px;
        height: 50px;
        background-color: white;
        display: flex;
        align-items: center;
        text-align: center;
       
}

.schedule p {
    /* line-height:80%; */
    margin: 10px;
}

.your-week {
    /* margin: 10px; */
    margin-left: 20px;
    /* max-width: 900px; */
    margin-top: 15px;
    margin-right: 20px;
}

.your-jobs {
    margin-left: 20px;
    margin-top: 20px;
    max-width: 900px;
    margin-right: 20px;
}

.jobs-you-created {
    /* border: 1px lightgrey solid; */
    background-color: white;
    /* padding-right: 10px; */
    /* width: 90%; */
    max-width: 800px;
    /* height: 50px; */
    background-color: white;
    /* display: flex;
    align-items: center;
    text-align: center; */
    border: 1px lightgrey solid;
}

.jobs-you-created li {
    list-style: none;
    padding: 5px 10px;
    font-weight: bolder;
    border-bottom: 0.5px lightgrey solid;
}

.jobs-you-created span {
    font-weight: normal;
    font-style: italic;
    font-size: 13px;
}

.column-left h1{
    text-align: left;
}

.mobile-body {
    display: none;
}

.mobile-feed {
    display: none;
}



.main-quicklinks {
    display: none;
}

.mobile-quicklinks img {
    height: 10%;
    width: 10%;
}

.mobile-quicklinks div {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

/* @media (min-width: 768px) { */
    .main-quicklinks {
      display: flex;
      flex-direction:column;
      /* justify-content: space-around; */
      align-items: flex-start;
      /* height: 300px;
      width: 300px; */
      position: fixed;
      left: 0;
    }

    /* .your-bookings img {
        width: 100%;
    } */

    .your-bookings {
        margin-left: 20px;
    }

    .bookings-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        /* width: 95%; */
        /* margin: 10px; */
        margin-top: 20px;
        /* margin-left: 10px; */
        max-width: 800px;
        /* min-width: 400px; */
        margin-right: 20px;
    }

    .bookings-card h3 {
        font-size: 18px;

    }

    .bookings-card-profile-pic {
        height: 160px;
        width: 160px;
        /* height: 25%;
        width: 25%; */
        /* margin-left:30px;
        margin-right:-50px; */
    }

    .booking-demo-pic {
        width: 100%;
    }

    .bookings-bits {
        display: flex;
        align-items: center;
    }

    .bookings-bits img {
        height: 25px;
        width: 25px;
        
    }

    .bookings-bits p {
        padding-top: 12px;
        padding-left: 5px;
    }

    .booking-card-price-buttons {
        padding: 0px 20px;
    }

    .booking-card-price-buttons img {
        height: 40px;
        width: 80px;
    }

    .booking-card-price-buttons h3 {
        text-align: right;
    }

    .booking-card-price-buttons button {
        width: 70px;
        margin-top: 10px;
        margin-left: 8px;
        padding: 4px 5px;
        font-size: 12px;
        border-radius: 5px;
    }

    .booking-card-price-buttons div {
        display: flex;
    }

    .bookings-bits p{
        font-size: 13px;
    }

    .your-info img {
        width: 100%;
    }

    .main-quicklinks img {
        height: 20%;
        width: 20%;
    }

    .main-quicklinks div {
        display: flex;
    }

    .mobile-quicklinks {
        display:none;
    }

    .promo-area {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        text-align: left;
        position: relative;
        padding: 20px;
        margin: 10px 0px;
        background-color: white;
    }

    .promo-area img {
        /* height: 15%;
        width: 15%; */
        height: 40px;
        width: 40px;
        /* justify-self: flex-start;
        margin-left: -200px; */
        /* position: absolute;
        left: 0;
        top: 0; */
    }

    .promo-area h4 {
        text-align: left;
        /* margin-left: -60px; */
    }
    
    .promo-area button{
        width: 100%;
        padding: 5px 20px;
        border-radius: 8px;
        margin: 3px 0px;
        font-size: 13px;
    }

    .blue-button {
        background-color: #0C3354;
        color: white;
    }

    .white-button {
        color: #0C3354;
        background-color: white;
        border: lightgray 1px solid;
    }
    
    /* h2 {
        font-size: 5px;
    } */



     @media (max-width: 1150px) {
    .bookings-card-profile-pic {
        display: none;
    }

    .bookings-card {
        padding-left: 20px;
        padding-top: 20px;
    }

    .banner-buttons {
        display: none;
    }

    .banner-main-content {
        justify-content: space-around;
    }

    #banner-info {
        margin-right: -100px;
    }

    #banner-close {
        margin-left: -150px;
    }

    .msg-team {
        display: none;
    }

    }



@media (max-width: 768px) {
   
    .mobile-only {
        display: block;
        font-weight: bolder;
        font-family: fabriga;
        font-size: 11px;
    }

    .your-team {
        display: none;
    }

    .your-info {
        margin-left: 20px;
        margin-top: 15px;
    }

    footer {
        margin-left: 20px;
    }

    .your-team-full {
        margin-left: 20px;
    }

    .bookings-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
    }

    .bookings-card-profile-pic {
        display: block;
    }

   

    .promo-area {
        display:none;
    }
   
   
}

    .main-footer {
        display:none;
    }


@media (max-width: 520px) {
.bookings-card-profile-pic {
    display: none;
}
}


@media (min-width: 768px) {

    .your-team {
        display: block;
    }

    .main-footer {
        display: block;
        height: 200px;
        width: 100%;
        background-color: #F8F9F9;
    }

    .mobile-footer {
        display: none;
    }

    }

  .footer-logo {
    width: 20%;
    height: 20%;
}


/* 
@media screen and (min-width: 768px) {.content-container {
    margin: 1.25rem;}

@media screen and (min-width: 992px) {
    .content-container {
        margin-bottom: 1.5rem;}

@media screen and 
(max-width: 700px) 
{
    #hero .col {
        width: 100%;}*/





        .side-menu-position {
            padding-top: 25px;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 2;
          }
          
          .side-menu-design {
            background-color: #611f69;
            background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/sidebar-background.png');
            background-size: 1300px 700px;
            background-repeat: repeat;
            cursor: pointer;
            opacity: 0;
            transform: translateX(100%);
            transition: 0.4s ease-in-out;
          }
          
          /* on top we need spacing from the border, so we have to use padding */
          /* but we also want that bottom margin to bleed to the edge, so no margins here */
          .side-menu-header {
            border-bottom: 1px solid rgba(255,255,255,.1); /* based on slack look, very faint */
            display: flex;
            justify-content: space-between;
            padding: 0 25px 25px 25px;  
          }
          
          /* Main content is pretty easy for layouts, pattern you'll see in web dev */
          /* The more text an element has, the easier it is to layout - BAM wisdom bomb! */
          .side-menu-content {
            color: #fff;
            font-size: 24px; /* could use ems here I guess but eh... */
            margin: 25px;
            padding-left: 0; /* zeroing it out */
          }
          
          .side-menu-content li {
            list-style: none;
            margin-bottom: 25px;
          }
          
          .side-menu-workspace {
            margin-bottom: 8px;
            text-align: center;
          }
          
          .side-menu-download {
            background-color: #fff;
            color: #611f69;
            padding: 15px 0;
            text-align: center;
            width: 100%;
          }
          
          /* Sticks the nav to the top of the page */
          #top-nav {
            position: fixed;
          }
          
          
          /**
           * Animation classes
           */
          .show-menu {
            opacity: 1;
            transform: translateX(0%);
          }
          